div.hr
  div.container
    hr
footer.section(class='footer')
  div.container
    nav.navbar(class='is-fullwidth')
      div.navbar-brand
      div.navbar-menu
        div.navbar-end
          ul
            li.is-active The Unlicense
            li Copyleft
            li Address
