div.hero-head
  nav.navbar(role='navigation')
    div.navbar-brand
      a.navbar-item(href='#')
        img(src='https://via.placeholder.com/140x80.png')
      a.navbar-burger(class='burger' data-target='boc-navbar-menu')
        span
        span
        span
    div.navbar-menu(id='boc-navbar-menu')
      div.navbar-start
        a.navbar-item Left-start-menu-01
        a.navbar-item Left-start-menu-02
      div.navbar-end
        a.navbar-item(href='/') Home
        a.navbar-item(class='is-hoverable has-dropdown' href='/customize') START CUSTOMIZING
        a.navbar-item #{pathnm}
        a.navbar-item(class='button is-success is-inverted')
          span.icon
            i(class='fas fa-home')
          span(class='tag is-info') `#{pageviews} this session`
