extends layout.pug
block main
  section.section(class="is-large")
    h1.title A list of last sign-in users
    h2.subtitle The webpage's visited by exactly #{count} users in last 7 days.
    div.container
